@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PurchasePlan</title>
    @*Easyui需要引入的文件*@
    <script type="text/javascript" src="~/Content/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <link href="~/Content/jquery-easyui-1.4.5/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/jquery-easyui-1.4.5/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/Site.js"></script>

    <script type="text/javascript">
        $(function () {
            //初始化datagrid
            InitGrid();
            InitDialog();
            $('#btnReload').click(function () {
                $("#grid").datagrid("reload");
            });
            //ajax提交修改表单
            $('#ok').click(function () {
                $('#errdiv').removeClass('dis');
                $('#form').submit();
            });
            $('#cancel').click(function () {
                $('#dd').dialog('close');
            });
            $('#add').click(function () {
                $('#form')[0].reset();
                $('#CompanyID').val("此字段自动生成。");
                $('#dd').dialog('open');
            });
            $('#del').click(function () {
                getAjax("../PSS_PurchasePlan/Del", { id: $('#del_id').val() }, function (data) {
                    if ($('#del_id').val() == null || $('#del_id').val() == "")
                        return false;
                    if (data) {
                        //此处可以优化，提示消息可更美观。
                        alert("操作成功！");
                        $('#dd').dialog('close');
                        $("#grid").datagrid("reload");
                        return true;
                    }
                    else {
                        alert("操作失败！");
                        return false;
                    }
                });
            });
        });

        //实现对DataGird控件的绑定操作
        function InitGrid() {
            $('#grid').datagrid({
                url: '../PSS_PurchasePlan/LoadList',
                fit:true,
                nowrap: true,//单行显示
                autoRowHeight: false,
                striped: false,     //斑马纹
                collapsible: true,      //可折叠
                pagination: true,
                pageSize: 20,
                fitColumns: true,       //自适应列宽
                rownumbers: true,
                columns: [[
                     { title: '采购单号', field: 'PurchaseNo' },
                     { title: '采购日期', field: 'PurchaseDate' },
                     { title: '操作工号', field: 'OperateNo' },
                     { title: '操作日期', field: 'OperateDate' },
                     { title: '采购状态', field: 'PurchaseStatus' },
                     { title: '备注', field: 'Remark' },
                ]],
                toolbar: '#tb',
                onDblClickRow: function (rowIndex, rowData) {
                    $('#errdiv').attr('class', 'dis');
                    getAjax("../PSS_PurchasePlan/LoadForm",
                        { id: rowData['CompanyID'] }, function (data) {
                            var data = eval("(" + data + ")");
                            SetWebControls(data);
                        });
                    $('#dd').dialog('open');
                },
                onClickRow: function (index, row) {
                    $('#del_id').val(row['CompanyID']);
                }
            })
            var p = $('#grid').datagrid('getPager');
            $(p).pagination({
                beforePageText: '第',
                afterPageText: '页   共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });
        };

        //初始化对话框
        function InitDialog() {
            $('#dd').dialog({
                title: '修改信息',
                width: 520,
                height: 230,
                top: ($(window).height() - 230) * 0.5,      //居中
                left: ($(window).width() - 520) * 0.5,
                closed: true,
                cache: false,
                modal: true,
                buttons: '#dlg-buttons'
            });
        }
    </script>
    <script>
        //表单验证和提交
        $(function () {
            $('#form').validate({
                rules: {
                    CompanyName: {
                        required: true
                    },
                    PinyinCode: {
                        required: true
                    }
                },
                messages: {
                    CompanyName: "公司名不能为空！",
                    PinyinCode: "拼音代码不能为空！"
                },
                errorLabelContainer: '#errdiv>ul',
                wrapper: 'li',
                submitHandler: function (form) {
                    var postData = GetWebControls("#form");
                    getAjax("/PSS_PurchasePlan/AcceptClick",
                        postData, function (data) {
                            if (data) {
                                //此处可以优化，提示消息可更美观。
                                alert("操作成功！");
                                $('#dd').dialog('close');
                                $("#grid").datagrid("reload");
                                return true;
                            }
                            else {
                                alert("操作失败！"); return false;
                            }
                        });
                },
                invalidHandler: function (form, validator) {  //不通过回调
                    return false;
                }
            });
        });
    </script>
    <style>
        .dis {
            display: none;
        }
    </style>
</head>
<body style="margin:2px;padding:0">
    <div>
        <input id="del_id" type="hidden" name="del_id" value=" " />
        <div style="position:fixed;width:100%;height:100%">
            <table id="grid"></table>
        </div>
        <div id="tb" style="padding:3px">
            <a id="add" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">新增</a>
            <a id="del" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'">删除</a>
            <a id="btnReload" href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">刷新</a>
        </div>
    </div>
    <div id="dd" class="easyui-dialog">
        <form id="form" name="form" method="post">
            <table style="margin:8px">
                <tr>
                    <td>编号:</td>
                    <td><input type="text" id="CompanyID" name="CompanyID" value=" " disabled="disabled" /></td>
                    <td>公司名:</td>
                    <td><input type="text" id="CompanyName" name="CompanyName" value=" " class="required" /></td>
                </tr>
                <tr>
                    <td>拼音代码:</td>
                    <td><input type="text" id="PinyinCode" name="PinyinCode" value=" " /></td>
                    <td>开户银行:</td>
                    <td><input type="text" id="Bank" name="Bank" value=" " /></td>
                </tr>
                <tr>
                    <td>银行账号:</td>
                    <td><input type="text" id="BankNo" name="BankNo" value=" " /></td>
                    <td>联系人:</td>
                    <td><input type="text" id="Contact" name="Contact" value=" " /></td>
                </tr>
                <tr>
                    <td>电话:</td>
                    <td><input type="text" id="Tel" name="Tel" value=" " /></td>
                    <td>地址:</td>
                    <td><input type="text" id="Address" name="Address" value=" " /></td>
                </tr>
            </table>
            <div class="errdiv" id="errdiv">
                <ul></ul>
            </div>
            <div id="dlg-buttons">
                <a id="ok" href="#" class="easyui-linkbutton" iconcls="icon-ok">确定</a>
                <a id="cancel" href="#" class="easyui-linkbutton" iconcls="icon-cancel">取消</a>
            </div>

        </form>
    </div>
</body>

</html>
