@{
    Layout = null;
    ViewBag.Title = "药品管理系统";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />
    <script>
        $(function () {
            $('#submit').click(function () {
                location.href = "../Home/Index";
            });

        });
    </script>
</head>
<body>
    <div>
        <form id="login">
            <h1>药品管理系统</h1>
            <fieldset id="inputs" class="">
                <input id="username" type="text" placeholder="账号" autofocus="" required="">
                <input id="password" type="password" placeholder="口令" required="">
            </fieldset>
            <fieldset id="actions" class="">
                <input type="submit" id="submit" value="登录">
                <a href="">忘记密码</a>
                <a href="">联系管理员</a>
            </fieldset>
        </form>
    </div>
</body>
</html>
