@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @*Easyui需要引入的文件*@
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.easyui-1.4.3.min.js"></script>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />

    @*本地css和js引入*@
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Content/Site.js"></script>
</head>
<body class="easyui-layout">
    <div region="north" id="header">
        <img src="~/Content/image/Medicine.png" id="logo" />
        <h1 id="title">XX医院药库管理系统</h1>
    </div>
    <div region="west" class="easyui-panel" title="导航菜单" split="true" style="width:220px">
        <div class="easyui-accordion" style="width:100%;">
            <div title="药品采购" data-options="iconCls:'icon-edit'" style="overflow:auto;padding:10px;">
                <ul class="easyui-tree">
                    <li>采购入库</li>
                    <li>财务验收</li>
                    <li>付款管理</li>
                    <li>采购历史</li>
                </ul>
            </div>
            <div title="药品管理" data-options="iconCls:'icon-edit'" style="padding:10px;"></div>
            <div title="采购计划" data-options="iconCls:'icon-edit'" style="padding:10px;"></div>
            <div title="药品查询" data-options="iconCls:'icon-edit'" style="padding:10px;"></div>
            <div title="系统设置" data-options="iconCls:'icon-edit'" style="padding:10px;"></div>
        </div>
    </div>
    <div region="center" class="easyui-tabs" id="tabs">
        <div title="欢迎使用" style="padding:0 10px 0 10px;text-align:center;">
            <img id="welcomeimg" src="~/Content/image/welcome.png" />
        </div>
    </div>

    <div region="south" id="footer">
        <p id="foot">版权所有：药库管理系统 浙江农林大学 Kontinue maoqyzj@outlook.com</p>
    </div>
</body>
</html>
